.edit-container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.edit-title {
  margin-bottom: 20px;
  color: #333;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.edit-form select,
.edit-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}

.update-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #218838;
}